body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:630px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:630px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:0px;
  width:42px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
