body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:338px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:580px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:580px;
}
#u144_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:36px;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:574px;
  width:330px;
  height:36px;
}
#u145_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:330px;
  height:613px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u147 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:579px;
  width:169px;
  height:28px;
}
#u147_input {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
