body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u92_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:571px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:571px;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:571px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:571px;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:7px;
  width:38px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
